@font-face {
  font-family: 'New York Large';
  src: url('NewYorkLarge-Black.otf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;

body {
  background-color: #1f2937;
}

button:focus {
  outline: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-bg {
  width: 150%;
  max-width: none;
  filter: grayscale(100%) opacity(25%);
  transform: rotate(20deg) translateX(-23%);
}

.max-h-screen-3\/4 {
  max-height: 75vh;
}

.frosted {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(75, 85, 99, 0.85);
  backdrop-filter: blur(10px);
}

.frosted-body {
  background-color: rgba(75, 85, 99, 0.95);
  backdrop-filter: blur(10px);
}

.loading-wrapper div:nth-child(1) {
  animation-delay: -0.66s;
}

.loading-wrapper div:nth-child(3) {
  animation-delay: 0.66s;
}

.mb-18 {
  margin-bottom: 4.5rem;
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast--success {
  background: #10b981;
}

.Toastify__toast--info {
  background: #3b82f6;
}

.Toastify__toast--warning {
  background: #f59e0b;
}

.Toastify__toast--error {
  background: #ef4444;
}

.Toastify__toast-body {
  font-family: 'montserrat';
  font-weight: 700;
}

/* purgecss end ignore */

@tailwind utilities;
